.App {
  text-align: center;
}

body {
  background-color: rgb(4, 4, 77);
  transition: cubic-bezier(0.175, 0.885, 0.32, 1.275);
  color: #fff;
  overflow-x: scroll;
}

.header {
  text-align: center;
  height: 10vh;
}

.search {
  text-align: center;
  padding: 4px 16px;
  margin: 5px 0;
}

.cryptoCase {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  margin: 0 5%;
}

.cryptoWrap:nth-child(4n + 2),
.cryptoWrap:nth-child(4n + 3) {
  background-color: #c8c5d3;
}

.crypto {
  width: 42vw;
  padding: 0;
  border: 1px solid #fff;
}

.icon {
  float: right;
  margin: 10px;
  font-size: 20px;
  color: #fff;
}

.div {
  display: flex;
  justify-content: space-around;
}

.title {
  display: flex;
  justify-content: center;
  align-items: center;
}

.Name {
  text-align: center;
  box-shadow: 2px 3px 4px rgba(219, 204, 204, 0.75);
}

.ath {
  text-align: center;
}

.imge {
  display: flex;
  justify-content: center;
}

.img {
  width: 20%;
  padding-bottom: 8px;
}

.container {
  border: 1px solid #fff;
  color: #fff;
  background-color: rgb(4, 4, 77);
  padding: 1rem;
  margin: 20px;
  width: 100%;
}

.details-title {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.details-title .h1 {
  display: flex;
  gap: 10px;
  justify-content: center;
  margin-left: 20%;
}

.details-title .close {
  font-size: 36px;
  color: #fff;
}

.allDetails {
  padding: 10px;
}

.h3 {
  display: flex;
  gap: 20px;
  justify-content: flex-start;
  text-align: left;
  height: 100px;
  align-items: center;
  transition: all 0.5s ease-in-out;
  font-size: 24px;
}

.h3 > span {
  margin-left: 35%;
}

.h3:nth-child(odd) {
  background-color: #c8c5d3;
}

.details-image {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 40px;
}

.details-image img {
  width: 30%;
  padding-bottom: 10px;
}

.details-image .span {
  display: flex;
  flex-direction: column;
}

.today {
  margin-left: 10%;
  font-weight: bolder;
}
